<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog APP</title>
</head>

<body>
    <div class="main d-flex justify-content-center w-100 h-100 flex-row bg-dark align-items-around">

        <div class="position-relative text-white justify-content-center align-items-center">
            <h1 class="text-white py-5">
                Welcome to Blog APP! {{test}}
            </h1>
            <div  onclick="window.location.href = '/signin';" class="btn btn-light mx-5">Signin</div>
            <div onclick="window.location.href = '/signup';" class="btn btn-light mx-5">SignUp</div>

        </div>

    </div>
</body>

</html>